		*{        	
            color: gray;
            font-family: 'Roboto', sans-serif;
			font-family: 'Lato', sans-serif;
      	}

      	@media  screen and (max-width: 400px) {
			.cleft{width: 100%;}
			.cright{width: 100%;}
			.cright_imghref{width: 100%;}
			.logoimg{width: 100%;}
		}   

		hr{
			border:none;
			height: 20px;
			color: lightblue;
		}
		
		a{
			text-decoration: none;
		}
		
		/*
		.container{
			margin: 0 auto;
			width: 960px;
			height: 1200px;
			display: flex;
		}
		*/

		.cright{
			/*width: 80%;*/
			height: 100%;
		}
		.logoimg{
			/*width: 100%;*/
		}

		.nav_letter{
			float: right;
			text-align: right;
			
		}
		.cright_imghref img{
			/*width: 220px;*/
			height: 150px;
			margin-right: 5px;

		}
		.cright_imghref h3{
			text-align: center;
		}
		.cright_imghref p{
			text-align: center;
		}
		.nav img{
			width: 100px;
			height: 100px;
			margin: 10px;
		}
		.cright_bottom{
			display: flex;
		}